{% extends 'base.html' %}
{% block content %}

<div>
    {% for article in articles %}
    <ul>
        <li><a href="{{ article.link }}">{{ article.headline }}</a></li>
        <li>Publication date: {{ article.date }}</li>
        <form action="{% url 'add_tag' article.id %}" method="POST">
            {% csrf_token %}
            {{ tag_form.as_p }}
            <input type="submit" class="btn" value="Add Hashtag">
        </form>
        <div>
            {% if article.tags.all %}
            {% for tag in article.tags.all %}
            <div><a href="{% url 'show_tag' tag.id %}">{{ tag.name }}</a>&nbsp <a href="{% url 'delete_tag' article.id tag.id %}">x</a></div>
            {% endfor %}
            {% endif %}
        </div>
    </ul>
</div>
{% endfor %}

<script>

    const selectEl = document.getElementById('id_name');
    console.log(selectEl);
    M.FormSelect.init(selectEl);
</script>


{% endblock %}