{% extends 'base.html' %}
{% block content %}

<div>
    <h2> Search for Articles </h2>
</div>
<div>
    <form action="{% url 'queried_articles' %}" method="GET">
        <input type="text" name="query" placeholder="Keyword..." style="box-shadow: none;">&nbsp;&nbsp;From:
        <input type="date" name="begin_date" placeholder="" style="box-shadow: none;">&nbsp;&nbsp;To:
        <input type="date" name="end_date" placeholder="" style="box-shadow: none;">
        <button type="submit" class="butn waves-effect waves-light" style="background: none; border: none; padding: 10px; margin-top: 5px; float: right;">
            <span style="font-size: 1.5em;"></span>
            <i class="material-icons" style="vertical-align: middle;">search</i>
        </button> 
    </form>
</div>


{% endblock %}