.button {
    font-family: "Cheltenham", Georgia, serif; /* Use a serif font similar to Cheltenham */
    font-size: 1rem; /* Adjust the font size as needed */
    font-weight: bold; /* Use bold font weight */
    text-transform: uppercase; /* Convert text to uppercase */
    padding: 10px 20px; /* Add padding to create space inside the button */
    border: 1px solid #ccc; /* Add a border */
    background-color: #fff; /* Set the background color */
    color: #333; /* Set the text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}


.button:hover {
    background-color: #333; 
    color: #fff; /
}


.button:focus {
    outline: none; 
    box-shadow: 0 0 0 2px #333; 
}

h1, h2, h3 {
    font-family: "Cheltenham", Georgia, serif; 
    font-size: 2.5rem; 
    font-weight: bold; 
    line-height: 1.2; 
    color: #333;
    margin-bottom: 20px; 
}

.title {
    font-family: "Cheltenham", Georgia, serif; 
    font-size: 7.5rem; 
    font-weight: bold; 
    line-height: 1.2; 
    color: #333;
    margin-bottom: 20px; 
}

.save-button {

        background-color: #333; 
        color: #fff; /
    
}